/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


@font-face {
	src:url("assets/fonts/merititalic4.ttf");
	fontFamily: meritItalic;
	embedAsCFF: true;
}

#clock {
	fontFamily: meritItalic;
	color:#ff7c18;
}     